# Ігнорувати bak-файли
*.bak
# Ігнорувати html-файли
*.html
# ignore dep-files integrated dev. environment
*.dep
# Ігнорувати my.bat
my.bat
*.ses
*.txt
# ignore files from  folders settings/
settings/ 

# ignore files from  folders Flash-Debug/
Flash-Debug/
# ignore files from  folders 
ses/
nppBackup/